body {
    background-color: #FFCC00; 
    color: #FF4500; 
    }
    
h2 {
    color:#FF0000; /* 赤 */
    text-shadow: 5px 0px 10px #FF0000;
}
    
li {
    background-color: #FFCC00; /* 黄色 */
    color: #FF4500; /* オレンジ */
    text-shadow: 5px 0px 10px #FF4500;
    margin: 5px 0;
    padding: 0px;
}

div#result{
    position:relative;
    left:450px;
    bottom:365px;
}
    
    